.ff-root:has(.ff-control:-webkit-autofill) {
  --field-bg: rgb(232 240 254);
}

.ff-control:-webkit-autofill,
.ff-control:-webkit-autofill:hover,
.ff-control:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--field-bg) inset;
  box-shadow: 0 0 0 1000px var(--field-bg) inset;
  -webkit-text-fill-color: currentColor;
  caret-color: currentColor;
}
