@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900;
}

.prose h1,
.prose h2,
.prose h3 {
  @apply text-slate-900;
}

.container-base {
  @apply mx-auto w-full max-w-6xl px-6;
}
